<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta charset="ISO-8859-1">
	<title>Index</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"></script>
	<script src="/js/jquery-3.5.0.min.js"></script>
	<script src="/js/popper.min.js"></script>  
	<script src="/js/bootstrap.min.js"></script>                                                                                                                    
</head>
<body>
	<div class="container bg-light">
        <div class="jumbotron">
            <h1 class="display-4">
                Bienvenidos
            </h1>
            <p class="lead">
                Descripcion
            </p>
            <hr class="my-4">
            <p>
                Notas Adicionales
            </p>
            <div>

                Contenido de la vista

            </div>
            <hr class="my-4">
            <div>
                <div class="row">
                    <div class="col-2"> </div>
                        <div class="col-8">
                            <p>Desarrollo Web Avanzado</p>
                            <p>ITSSNP 2022</p>
                            <p>Armando Joel Rodriguez Sanchez</p>
                        </div>
                        <div class="col-2"></div>                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
